#label_sensor_type_value {
  font-weight: bolder;
  font-size: 1.5em;
}

#label_sensor_value_si,
#label_sensor_value_value {
  font-weight: bolder;
  font-size: 3em;
}


#label_sensor_ma_si,
#label_sensor_ma_value {
  font-weight: bolder;
  font-size: 1.5em;
}

infobar.info box { background-color: rgb(107, 167, 131); } /* green */
infobar.warning box { background-color: rgb(202, 154, 63); } /* orange */
infobar.error box { background-color: rgb(216, 90, 90); } /* dark red */
infobar.question box { background-color: rgb(154, 183, 241); } /* cornflowerblue */
